html, body {
	height: 100%;
}

.content {
	height: 100%;
	padding: 0 5%;
	padding-top: 5em;
}

.user-info {
	float: right;
	width: 30%;
	min-height: 50%;
}

#playlists {
	width: 65%;
	float: left;
}

#playlists .panel-heading {
	cursor: pointer;
}

#playlists .panel-heading:hover {
	text-shadow: 0 0 1px #FFFFFF;
}

.delete {
	margin-top: -10px;
	margin-right: -15px;
	height: 42px;
}

.edit {
	margin-top: -10px;
	height: 42px;
}