<div class="panel panel-default">
	<div class="panel-heading">
		{{name}}
		{{#editable}}
		<div class="delete pull-right btn btn-danger">Delete</div>
		<div class="edit pull-right btn btn-warning">Edit</div>
		{{/editable}}
	</div>
	<div class="panel-collapse collapse in">
		<div class="panel-body">
			<table class="table table-hover ">
				<thead>
					<tr>
				    <th>#</th>
				    <th>Song</th>
				    <th>Artist</th>
			    	</tr>
				</thead>
				<tbody>
					{{#each songs}}
						<tr>
							<td>{{inc @index}}</td>
							<td>{{this.name}}</td>
							<td>{{this.artist}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table> 
		</div>
	</div>
</div>
