<div class="panel panel-default">
	<div class="panel-heading">{{name}}</div>
	<div class="panel-collapse collapse in">
		<div class="panel-body">
			<table class="table table-hover ">
				<thead>
					<tr>
				    <th>#</th>
				    <th>Song</th>
				    <th>Artist</th>
			    	</tr>
				</thead>
				<tbody>
					{{#each songs}}
						<tr>
							<td>{{inc @index}}</td>
							<td>{{this.name}}</td>
							<td>{{this.artist}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table> 
		</div>
	</div>
</div>
