<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="content">
  <div>
    <div class='well clearfix'>
      <form class="form-horizontal">
        <fieldset>
          <legend>Sign Up</legend>
        </fieldset>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="cursor: auto;" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" style="cursor: auto;" autocomplete="off">
            </div>
          </div>
      </form>
      <div class="form-group">
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
    </div>
  </div>
</div>

</body>
</html>