<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<!--% include ../partials/nav.ejs-->
<div class="content">
  <div>
    <div class='well clearfix'>
      <form class="form-horizontal" method="POST">
        <fieldset>
          <legend>Sign In</legend>
        </fieldset>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input name='username' type="text" class="form-control" id="inputEmail" placeholder="Email" style="cursor: auto;" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password" style="cursor: auto;" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-10">
                <a href="/signup" class="btn btn-primary">Sign Up</a>
                <button type="submit" class="btn btn-info pull-right">Log In</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>