<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="content">
	<div class="playlists">
		<div class="panel panel-default">
		  <div class="panel-heading">Workout</div>
		  <div class='panel-collapse collapse'>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">Study Music</div>
		  <div class='panel-collapse collapse in'>
			  <div class="panel-body">
			    <ul class="list-group">
			    	<li class="list-group-item"><span class="badge">Artist Name</span>Title of Song</li>
			    	<li class="list-group-item"><span class="badge">Artist Name</span>Title of Song</li>
			    	<li class="list-group-item"><span class="badge">Artist Name</span>Title of Song</li>
			    	<li class="list-group-item"><span class="badge">Artist Name</span>Title of Song</li>
			    	<li class="list-group-item"><span class="badge">Artist Name</span>Title of Song</li>
			    </ul>
			  </div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">Party Playlist</div>
		  <div class='panel-collapse collapse'>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">Chill Out</div>
		  <div class='panel-collapse collapse'>
		  </div>
		</div>
	</div>
	<div class="user-info panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">cdfranz2</h3>
	  </div>
	  <div class="panel-body">
	    <ul class="list-group">
	    	<li class="list-group-item"><span class="badge"><strong>140</strong></span> Followers</li>
	    	<li class="list-group-item"><span class="badge"><strong>4</strong></span> Playlists</li>
	    	<li class="list-group-item divider"></li>
	    	<li class="list-group-item divider">Following</li>
	    	<li class="list-group-item divider text-info">makkar2</li>
	    	<li class="list-group-item divider text-info">sbhadur2</li>
	    	<li class="list-group-item divider text-info">okenla2</li>
	    </ul>
	  </div>
	</div>
</div>
</body>
</html>